
#main-container {
  height: calc(100vh - 57px);
  overflow-y: auto;
}

main h1 {
  padding-top: 2rem;
}

#TOC {
  height: calc(100vh - 57px);
  overflow-y: auto;
}

#TOC .toc-section-number {
  font-weight: bold;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#sidebar-wrapper .list-group-flush > .list-group-item:last-child {
  border-bottom-width: 1px;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#sidebar-wrapper .list-subgroup a {
  margin-left: 1rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* Callout blocks */

.alert {
  padding-bottom: 0 !important;
}

/* Code */

pre {
  overflow: auto;
  word-wrap: normal;
  margin: 0 0 1.275em;
  padding: .85em 1em;
  background: #f7f7f7;
}

/* Foldables */

.foldable {
  margin: 0 0 1.275em;
  padding: .85em 1em;
  background: #f7f7f7;
}

.foldable a {
  display: block;
  color: #212529;
  font-weight: bold;
}

.foldable p:first-child {
  margin-top: 1em;
}

.foldable p:last-child {
  margin-bottom: 0;
}